.body,HTML{
   background-image: url(https://images.squarespace-cdn.com/content/v1/5f99023f01283b090c45603e/1657636234158-82C1FBLBWO40BDJAAOPT/unsplash-image--5rA4DRrEXU.jpg);
   padding-bottom: 5%; 
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    column-gap: 3%;
    flex-direction: column;
    /* text-align: center; */
    

    
}

.mb-3 input{
    width: 20vw;
    height: 2vw;

}
.mb-3{
    display: block;
}

.cardp4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-top: 10%;
    margin-left:25% ;
    background-color: aliceblue;
    width: 50%;
    height: 70vh;
    border-radius: 15px;
    box-shadow: 22px;
    position: relative;


}
.cardp4 h3{
    position: absolute;
    top: 4%;
    font-weight: 600;
    color: black;
   
}

    .m1 input{
     
    }
   